In [3]:
import pandas as pd

data = pd.read_excel("ProjectData.xlsx")

In [4]:
data.head()

  Project Name Project manager  Project cost Start date   End date
0        Apple          Mickey           100 2024-01-02 2029-01-02
1      Android          Donald           200 2021-04-29 2030-01-02
2      Windows           Daffy           300 2024-11-22 2035-11-22
3        Linux           Pluto         50000 2022-01-12 2024-01-12

In [5]:
data["Days"] = data['End date'] - data['Start date']

In [21]:
from matplotlib.figure import Figure
#import base64
from io import BytesIO
fig = Figure()
ax = fig.add_subplot()

ax.barh(y=data['Project Name'],left=data['Start date'],width=data['Days'])

buf = BytesIO()
fig.savefig("trialImg.png", format="png")

print(buf)

<_io.BytesIO object at 0x00000222973FF1D0>